#main-header{
  width: 609px;
  height: 115px;
  background: rgba(0,0,0,0.5);
    border-bottom-color: transparent;
}
#logodevf{
  width: 102px;
  height: 43px;
}
.tagline{
  width: 146px;
  height: 15px;
}
.first-slide{
  width: 100%;
}
.second-slide{
width: 50%;
}
.third-slide{
width: 50%;
}
