<<<<<<< HEAD
.logo-devf{
position:fixed;
width:: 100px
display: inline-block;
float: left
=======
#main-header{
  width: 609px;
  height: 115px;
  background: rgba(0,0,0,0.5);
    border-bottom-color: transparent;
}
#logodevf{
  width: 102px;
  height: 43px;
>>>>>>> 44cb1f2b74b4efbfba32e1045de7cdca79773ac8
}
.tagline{
  width: 146px;
  height: 15px;
}
.first-slide{
  width: 100%;
}
.second-slide{
width: 50%;
}
.third-slide{
width: 50%;
}
